{# src/Okeanos/CoreBundle/Resources/views/Default/actionsView.html.twig #}
{% extends 'OkeanosCoreBundle::layout.html.twig' %}
{% block title %}{{ action.name }} | Actions | {{ parent() }}{% endblock %}
{% block activePageActions %} active{% endblock %}
{% block container %}
    <p>
        Title : {{ action.name }}
    </p>
    <p>
        Description : {{ action.descript }}
    </p>
    <p>
        Goal : {{ action.goal }}
    </p>
    <p>
        Fund this action : <a href="{{ path('okeanos_core_donate', { 'id': action.id }) }}">Donate</a>
    </p>
{% endblock %}