{# src/Okeanos/CoreBundle/Resources/views/Default/newsView.html.twig #}
{% extends 'OkeanosCoreBundle::layout.html.twig' %}
{% block title %}{{ news.title }} | News | {{ parent() }}{% endblock %}
{% block activePageNews %} active{% endblock %}
{% block container %}
    <p>
        Title : {{ news.title }}
    </p>
    <p>
        Description : {{ news.descript }}
    </p>
    <p>
        Date : {{ news.date|date('d/m/Y') }}
    </p>
{% endblock %}