{# src/Okeanos/CoreBundle/Resources/views/Default/news.html.twig #}
{% extends 'OkeanosCoreBundle::layout.html.twig' %}
{% block title %}News | {{ parent() }}{% endblock %}
{% block activePageNews %} active{% endblock %}
{% block container %}
    <div class="news hero-section">
        <div class="hero-section-text">
            <h1>THE NEWS OF</h1>
            <h1>THE <span class="green">PROJECT</span></h1>
        </div>
    </div>
    <div class="news">
    {% for new in news %}
        <img src="{{ asset('medias/img/news/' ~ new.img) }}">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-sm-2 date" style="text-align: center; border-right: 1px solid;">
                    <p class="day">
                        {{ new.date|date('d') }}
                    </p>
                    <p>
                        {{ new.date|date('F Y') }}
                    </p>
                </div>
                <div class="col-sm-8">
                    <h1>
                        &#171; {{ new.title }} &#187;
                    </h1>
                    <p>
                        Author : {{ new.user.fname ~ ' ' ~ new.user.lname }}
                    </p>
                    <p>
                        {{ new.descript }}
                    </p>
                    <p>
                        <a href="{{ path('okeanos_core_newsView', { 'year': new.date|date('Y'), 'month': new.date|date('m'), 'day': new.date|date('d'), 'id': new.id }) }}" class="btn btn-primary">Read more</a>
                    </p>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}