{# src/Okeanos/CoreBundle/Resources/views/Default/news.html.twig #}
{% extends 'OkeanosCoreBundle::layout.html.twig' %}
{% block title %}News | {{ parent() }}{% endblock %}
{% block activePageNews %} active{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{ asset('scripts/css/bootstrap/bootstrap-grid.min.css') }}">
    <link rel="stylesheet" href="{{ asset('scripts/css/bootstrap/bootstrap-reboot.min.css') }}">
    <link rel="stylesheet" href="{{ asset('scripts/css/bootstrap/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('scripts/css/style.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
{% endblock %}
{% block container %}
    <div class="news hero-section">
        <div class="hero-section-text">
            <h1>THE NEWS OF</h1>
            <h1>THE <span class="green">PROJECT</span></h1>
        </div>
    </div>
    <div class="news">
    {% for new in news %}
        <img src=""> img
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-sm-2 date" style="text-align: center; border-right: 1px solid;">
                    <p class="day">
                        {{ new.date|date('d') }}
                    </p>
                    <p>
                        {{ new.date|date('F Y') }}
                    </p>
                </div>
                <div class="col-sm-4">
                    <p>
                        {{ new.title }}
                    </p>
                    <p>
                        {{ new.descript }}
                    </p>
                    <p>
                        <button type="button" class="btn btn-primary"><a href="{{ path('okeanos_core_newsView', { 'year': new.date|date('Y'), 'month': new.date|date('m'), 'day': new.date|date('d'), 'id': new.id }) }}">Read more</a></button>
                    </p>

                </div>
            </div>
        </div>
        <hr>
    {% endfor %}
    </div>
{% endblock %}