{# src/Okeanos/CoreBundle/Resources/views/layout.html.twig #}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Okeanos{% endblock %}</title>
    {% block css %}
        <link rel="stylesheet" href="{{ asset('scripts/css/style.css') }}">
    {% endblock %}
</head>
<body>
    <div class="wrapper-main">
        <!-- NAV -->
        <nav class="navbar">
            <p class="logo">OKEANOS</p>
            <ul class="navbar-menu">
                <li class="navbar-item"><a href="{{ path('okeanos_core_homepage') }}" class="navbar-link{% block activePageHome %}{% endblock %}">HOME</a></li>
                <li class="navbar-item"><a href="{{ path('okeanos_core_news') }}" class="navbar-link{% block activePageNews %}{% endblock %}">NEWS</a></li>
                <li class="navbar-item"><a href="{{ path('okeanos_core_actions') }}" class="navbar-link{% block activePageActions %}{% endblock %}">ACTIONS</a></li>
                <li class="navbar-item"><a href="{{ path('okeanos_core_donate') }}" class="navbar-link{% block activePageDonate %}{% endblock %}">DONATE</a></li>
                <li class="navbar-item"><a href="{{ path('okeanos_core_login') }}" class="navbar-link{% block activePageLogin %}{% endblock %}">LOGIN</a></li>
            </ul>
        </nav>
        <!-- /END NAV -->

        <!-- CONTAINER -->
        {% block container %}
        {% endblock %}
        <!-- /END CONTAINER -->

        <!-- FOOTER -->
        <footer class="footer">
            <p>Okeanos &copy; 2018</p>
            <p>Developed by PALM</p>
        </footer>
        <!-- /END FOOTER -->
    </div>
</body>
</html>